<style>
    .box {
        display: flex;
        padding: 20px;
        align-items: center;
    }

    .box img {

        padding: 10px;
    }

    .box p {
        padding: 10px;
        font-size: 2.5rem;
    }

    .img img {
        width: 100%;
        padding: 20px;
    }
</style>

<div class="row mt-header-30 d-flex justify-content-center">
    <p class="p_title text-center">cửa hàng mua bán thú cưng trực tuyến</p>
    <div class="box col col-10">
        <img src="
        https://dogily.vn/wp-content/uploads/2021/09/dan-3-cho-shiba-inu-mai-vang-trang-2-thang-tuoi-1-400x400.jpg"
            alt="">
        <p>Trang web bán thú cưng là một nơi tuyệt vời để tìm kiếm và mua sắm cho những người yêu động vật. Tại đây, bạn
            có thể tìm thấy các loại thú cưng phổ biến như chó, mèo, chim cảnh, thỏ, hamster, rùa, cá cảnh và nhiều loài
            khác nữa. Trang web cung cấp cho bạn nhiều lựa chọn về loại, màu sắc, kích cỡ, giống và tuổi của thú cưng.
        </p>
    </div>
    <div class="box col col-10">
        <p>Trang web bán thú cưng cung cấp những thông tin chi tiết về các loại thú cưng để giúp bạn có thể tìm hiểu
            trước khi quyết định mua chúng. Bạn có thể đọc về tiền tố, cách chăm sóc, thức ăn, vật dụng cần thiết, tư
            vấn chăm sóc và các thông tin khác liên quan đến chăm sóc thú cưng.
        </p>
        <img src="https://dogily.vn/wp-content/uploads/2021/09/dan-cho-border-collie-thuan-chung-3-thang-tuoi-5-400x400.jpg"
            alt="">

    </div>
    <div class="box col col-10">
        <img src="
        https://dogily.vn/wp-content/uploads/2022/11/cafe-meo-da-lat-400x400.jpg" alt="">
        <p>Bên cạnh đó, trang web còn cung cấp các sản phẩm phụ kiện cho thú cưng như thức ăn, đồ chơi, bát, chuồng,
            đệm, váy áo và nhiều mặt hàng khác. Bạn có thể chọn lựa sản phẩm phù hợp với thú cưng của mình để mang lại
            sự thoải mái và hạnh phúc cho chúng.
        </p>
    </div>
    <div class="box col col-10">
        <p>Với sự đa dạng về loại thú cưng và sản phẩm phụ kiện, trang web bán thú cưng sẽ giúp bạn tìm được chú cún hay
            mèo con yêu thích và chăm sóc chúng tốt nhất.
        </p>
        <img src="
        https://dogily.vn/wp-content/uploads/2020/02/cho-bully-american-3-thang-tuoi-mau-xam-trang-8.jpg" alt="">

    </div>
</div>

<div class="row mt-header-30">
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2021/09/dan-cho-border-collie-thuan-chung-3-thang-tuoi-5-400x400.jpg"
            alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2021/04/cho-becgie-gsd-duc-2-thang-tuoi-thuan-chung-8-400x400.jpg"
            alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2020/03/meo-anh-long-dai-de-thuong-400x400.jpg" alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2022/07/cho-mong-coc-den-400x400.jpg" alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2021/12/husky-cai-3-thang-11-400x400.jpg" alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2022/07/cho-poodle-teacup-mau-trang-cai-9-400x400.png" alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2020/08/Cho-bully-con-tai-dogily-petshop-23456-400x400.jpg"
            alt="">
    </div>
    <div class="col col-3 img">
        <img src="https://dogily.vn/wp-content/uploads/2021/11/cho-lap-xuong-dachshund-con-2-thang-tuoi-4-400x400.jpg   "
            alt="">
    </div>
</div>