@import 'base';

#footer {
    margin-top: $height-header;
    width: 100%;
    background-color: #f5f1f1;
    padding-bottom: 24px;
    .contain-why {
        background-color: $color-main;
        padding: 12px;
        .why-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $color-white;
                padding: 12px;
                margin-bottom: 8px;
                @include width_height(40px, 40px);
                i {
                    font-size: $fs-2;
                    color: $color-main;
                }
            }
            span {
                font-size: $fs-1-4;
                color: $color-white;
            }
        }
    }

    .box-footer {
        h3 {
            font-size: $fs-2;
            font-weight: 800;
            margin-bottom: 20px;
        }
        ul {
            li {
                i {
                    margin-right: 10px;
                }
                color: #000;
                font-size: $fs-1-8;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    color: #000;
                }
                a:hover {
                    cursor: pointer;
                    color: blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .social-item-pay {
        height: 60px;
        background-color: $color-main;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        .social-list,
        .pay-list {
            padding: 12px;
            display: flex;
            align-items: center;
        }
        .social-list {
            .social-item {
                margin: 0 12px;
                padding: 8px;
                border-radius: 5px;
                background-color: $color-white;
                a {
                    color: $color-black;
                    i {
                        font-size: $fs-1-4;
                    }
                }
            }
        }
        p {
            color: $color-white;
            font-size: $fs-1-4;
            margin: 0;
        }
    }
}
