@import 'base';

header {
    z-index: 10;
    height: $height-header;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    a {
        text-decoration: none;
    }
    .header--search {
        background-color: $color-white;
        height: $height-header-search;
        .row {
            height: 100%;
            .col {
                height: 100%;
                .logo {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }
                .search {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input {
                        height: 50%;
                        width: 80%;
                        padding: 16px;
                        border-radius: 50px;
                        font-size: $fs-1-8;
                        border-color: $color-main;
                        outline: none;
                    }
                    button {
                        height: 50%;
                        width: 19%;
                        border-radius: 50px;
                        font-size: $fs-2;
                        border: none;
                        background-color: $color-main;
                        color: $color-white;
                    }
                    button:hover {
                        font-size: $fs-3;
                    }
                }
                .link {
                    text-decoration: none;
                }
                .account {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                    div {
                        align-items: center;
                        border: 1px solid $color-black;
                        padding: 10px;
                        border-radius: 10px;
                        background-color: $color-main;

                        .name-customer {
                            font-size: $fs-2;
                            color: $color-white;
                            margin: 0;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-left: 10px;
                        }
                        a:hover {
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }
                }
                .phone {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    div {
                        padding: 10px;
                        align-items: center;
                        i,
                        a {
                            margin: 0 5px;
                            font-size: $fs-2;
                            color: $color-main;
                        }
                        a {
                            font-weight: 600;
                        }
                        a:hover {
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .header--nav {
        height: $height-header-nav;
        background-color: $color-main;
        ul {
            list-style: none;
            display: flex;
            margin-bottom: 0;
            li {
                width: 20%;
                text-align: center;
                a {
                    display: block;
                    color: $color-white;
                    font-size: $fs-2;
                    text-transform: uppercase;
                    line-height: $height-header-nav;
                }
            }
            li:hover {
                background-color: #207104;
            }
        }
    }
}
