@import 'base';

.login_register-form {
    background-image: url('https://haycafe.vn/wp-content/uploads/2022/05/Background-xanh-la-tuoi-moi.jpg');
    width: 100%;
    text-align: left;
    height: 100vh;
    border: 1px solid $color-main;
    position: relative;
    .form {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-main;
        padding: 20px;
        border-radius: 20px;
        h3 {
            text-align: center;
            font-size: $fs-3;
            font-weight: 800;
        }
        .form-input {
            label {
                font-size: $fs-2-5;
                font-weight: 500;
            }
            input {
                height: 42px;
                border-radius: 20px;
                padding: 10px 20px;
                font-size: $fs-2;
            }
        }
        .btn-list {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            font-size: 1.4rem;
            button {
                height: 42px;
                width: 200px;
                border-radius: 30px;
                font-size: $fs-1-8;
                font-weight: 600;
            }
            button:hover {
                font-size: $fs-2;
                font-weight: 800;
            }
            a {
                margin-top: 10px;
                color: #000;
                font-size: $fs-1-8;
                font-weight: 600;
            }
            a:hover {
                color: blue;
            }
        }
    }
}
.back {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    a {
        text-decoration: none;
        font-size: $fs-1-8;
        text-align: center;
        color: #fff;
    }
    a:hover {
        font-weight: 600;
    }
}
