@import 'base';

.contain-table {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    table {
        border: 1px solid #ccc;
        width: 100%;
        border-collapse: collapse;
        thead {
            position: sticky;
            top: 0px;
            background-color: $color-main;
            tr {
                th,
                .check {
                    padding: 8px;
                    border: 1px solid #ddd;
                    font-size: $fs-2;
                    vertical-align: middle;
                }
            }
            tbody {
                tr {
                    .check {
                        font-size: $fs-2-5;
                    }
                    td {
                        padding: 8px;
                        text-align: left;
                        border: 1px solid #ddd;
                        color: #000;
                        font-size: $fs-1-8;
                        vertical-align: middle;
                        button,
                        a {
                            height: 30px;
                            width: 80px;
                            background-color: $color-main;
                            border: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    #btn-pay {
        margin-top: 20px;
        height: 42px;
        width: 100px;
        border-radius: 20px;
        background-color: $color-main;
        color: #fff;
        font-size: $fs-1-4;
        font-weight: 600;
        border: none !important;
    }

    #btn-pay:hover {
        background-color: blue;
    }

    #btn-pay:disabled {
        background-color: #ccc;
    }
}
