{{> test}}
<div class="mt-4">
    <h3>Thêm danh mục sản phẩm</h3>
    <form method="POST" action="/admin/kiem-tra-them/loai-san-pham">
        <div class="form-group">
            <label for="name">Tên Danh mục</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>