{{> test}}
<h1>THÊM SẢN PHẨM</h1>
<div class="mt-4">
    <h3>Thêm loại sản phẩm</h3>
    <form method="POST" action="/admin/kiem-tra-them/san-pham">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>

        <select class="form-control form-control-sm checkbox-select-all-options" name="categoryID" required>
            <option value="">-- Chọn --</option>
            {{#each category}}
            <option value="{{this.category_ID}}">{{this.name}}</option>
            {{/each}}
        </select>
        <div class="form-group">
            <label for="quantity">Số lượng</label>
            <input type="number" class="form-control" id="quantity" name="quantity" />
        </div>

        <div class="form-group">
            <label for="price">Giá</label>
            <input type="number" class="form-control" id="price" name="price" />
        </div>
        <div class="form-group">
            <label for="salePrice">Giá khuyến mãi (Nếu có)</label>
            <input type="number" class="form-control" id="salePrice" name="salePrice" />
        </div>
        <div class="form-group">
            <label for="des">Giới thiệu sản phẩm</label>
            <input type="text" class="form-control" id="des" name="des" />
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image" />
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>