<div class="container-fluid ">
    <div class="row m-lr-0">
        <div class="col col-2 p-lr-0">
            {{> menuAdmin}}
        </div>
        <div class="col col-10 p-lr-0 dashboard">
            <div class="heading">
                <p>Dashboard</p>
            </div>
            <div class="row statis-contain">
                <ul class="statis">
                    <li class="statis-item">
                        <div class="statis-item_box">
                            <div class="number">
                                <p>30</p>
                            </div>
                            <div class="name">
                                <p>Product</p>
                            </div>
                            <div class="card-icon" style="background-color: #52ac56;">
                                <i class="fa-solid fa-suitcase"></i>
                            </div>
                        </div>
                    </li>
                    <li class="statis-item">
                        <div class="statis-item_box">
                            <div class="number">
                                <p>5</p>
                            </div>
                            <div class="name">
                                <p>Category</p>
                            </div>
                            <div class="card-icon" style="background-color: #e73f3b;">
                                <i class="fa-solid fa-list"></i>
                            </div>
                        </div>
                    </li>
                    <li class="statis-item">
                        <div class="statis-item_box">
                            <div class="number">
                                <p>100+</p>
                            </div>
                            <div class="name">
                                <p>Order</p>
                            </div>
                            <div class="card-icon" style="background-color: #0cb4c9;">
                                <i class="fa-solid fa-box-open"></i>
                            </div>
                        </div>
                    </li>
                    <li class="statis-item">
                        <div class="statis-item_box">
                            <div class="number">
                                <p>50+</p>
                            </div>
                            <div class="name">
                                <p>Customer</p>
                            </div>
                            <div class="card-icon" style="background-color: #fc960e;">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="chart">
                    <li class="chart-item">
                        <div>

                        </div>

                    </li>
                    <li class="chart-item">

                    </li>
                    <li class="chart-item">

                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>