<footer id="footer" class="container-fluid z-3">
    <div class="container-fluid contain-why">
        <div class="container ">
            <div class="row ">
                <div class="col col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <span>MIỄN PHÍ GIAO HÀNG</span>
                </div>
                <div class="col col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-rotate-left"></i>
                    </div>
                    <span>30 NGÀY ĐỔI HÀNG</span>
                </div>
                <div class="col col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-shield"></i>
                    </div>
                    <span>MUA SẮM AN TOÀN</span>
                </div>
                <div class="col col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span>HỖ TRỢ TRỰC TUYẾN</span>
                </div>
            </div>
        </div>
    </div>

    <div class=" container mt-4 px-2">
        <div class="row">
            <div class="col col-lg-3">
                <div class=" box-footer mt-4">
                    <h3>THÔNG TIN LIÊN HỆ</h3>
                    <ul>
                        <li class="d-flex align-items-start">
                            <i class="fa-solid fa-location-dot"></i>
                            <p> 172 Hai Bà Trưng, Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="fa-solid fa-phone"></i>
                            <p>0900-1020-040</p>
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="fa-solid fa-envelope"></i>
                            <p> shoppet@gmail.com</p>
                        </li>
                        <li class="d-flex align-items-start">
                            <i class="fa-sharp fa-solid fa-clock"></i>
                            <p> Hoạt động từ thứ 2 đến thứ 7, từ 8:00 am đến 8:00 pm </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="box-footer mt-4">
                    <h3>THÔNG TIN WEBSITE</h3>
                    <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/gioi-thieu">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="/lien-he">Liên hệ</a>
                        </li>
                        <li>
                            <a href="/tai-khoan">Tài khoản</a>
                        </li>
                        <li>
                            <a href="/dang-nhap">Đăng nhập</a>
                        </li>
                        <li>
                            <a href="/dang-xuat">Đăng xuất</a>
                        </li>
                        <li>
                            <a href="/dang-ky">Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="footer-map mt-4 border border-dark">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3352946504724!2d106.69259377469726!3d10.785611289363723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f346bea115f%3A0xe25213fe51b03521!2zMTcyIEhhaSBCw6AgVHLGsG5nLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1683371637044!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container social-item-pay mt-4">
        <div class="social-list">
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
            </div>
        </div>
        <p>&copy; Copyright</p>
        <div class="pay-list">
            <img src="/img/payment.png" alt="">
        </div>
    </div>
</footer>