<footer id="footer" class="container-fluid">
    <div class="container-fluid contain-why">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <span>MIỄN PHÍ GIAO HÀNG</span>
                </div>
                <div class="col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-rotate-left"></i>
                    </div>
                    <span>30 NGÀY ĐỔI HÀNG</span>
                </div>
                <div class="col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-shield"></i>
                    </div>
                    <span>MUA SẮM AN TOÀN</span>
                </div>
                <div class="col-lg-3 why-item ">
                    <div>
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span>HỖ TRỢ TRỰC TUYẾN</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.088714590089!2d106.71422577469755!3d10.80451718934598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175293dceb22197%3A0x755bb0f39a48d4a6!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBHaWFvIFRow7RuZyBW4bqtbiBU4bqjaSBUaMOgbmggUGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1682692345861!5m2!1svi!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>

    <div class="container social-item-pay mt-4">
        <div class="social-list">
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-facebook-messenger"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
            <div class="social-item">
                <a href="">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
            </div>
        </div>
        <p>&copy; Copyright</p>
        <div class="pay-list">
            <div class="pay-item">
                <img src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/vnpay_logo.png" alt="">
            </div>
            <div class="pay-item">
                <img src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/ZaloPay-logo-130x83.png" alt="">
            </div>
            <div class="pay-item">
                <img src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/shopeepay_logo1.png" alt="">
            </div>
            <div class="pay-item">
                <img src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/momopay.png" alt="">
            </div>
            <div class="pay-item">
                <img src="https://cdn0.fahasa.com/media//wysiwyg/Logo-NCC/logo_moca_120.jpg" alt="">
            </div>
        </div>
    </div>
</footer>