<header id="header" class="container-fluid">
    <div class="header-search">
        <div class="container contain">
            <div class="logo">
                <img src="https://dogily.vn/wp-content/uploads/2020/07/dogily-logo.png" alt="">
            </div>
            <div class="search">
                <form action="">
                    <input type="text" placeholder="Tìm kiếm....">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="customer">
                <a href="/tai-khoan">Đặng Quốc Huy</a>
                <div>
                    <a href="/tai-khoan">
                        <img src="https://haycafe.vn/wp-content/uploads/2021/11/Anh-avatar-dep-chat-lam-hinh-dai-dien.jpg"
                            alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="container-fluid header-navbar">
        <ul class="container contain">
            <li>
                <a href="/">
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="/gioi-thieu">Giới thiệu</a>
            </li>
            <li>
                <a href="/gio-hang">Giỏ hàng</a>
            </li>
            <li>
                <a href="/lien-he">Liên hệ </a>
            </li>
            <li>
                <a href="/tai-khoan">Tài khoản</a>
            </li>
        </ul>

    </nav>

</header>