<ul>
    <li>
        <a href="/admin">admin</a>
    </li>
    <li>
        <a href="/admin/dang-nhap">login</a>
    </li>
    <li>
        <a href="/admin/dang-xuat">logout</a>
    </li>
    <li>
        <a href="/admin/dang-ky">register</a>
    </li>
    <li>
        <a href="/admin/danh-sach/tai-khoan">list account</a>
    </li>
    <li>
        <a href="/admin/danh-sach/san-pham">list product</a>
    </li>
    <li>
        <a href="/admin/danh-sach/loai-san-pham">list category</a>
    </li>
</ul>